@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,600;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

.home {
  padding-bottom: 20px;
  font-family: "Rubik";

  width: 100%;
  &__wrapper {
    margin: 0 auto;
    width: 986px;
  }
  &__head {
    //width: 100%;
    margin: 50px 0 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    & input {
      padding: 16px;
      font-family: "Rubik";

      background: #f2f2f2;

      border: 2px solid #e6e6e6;
      border-radius: 10px;

      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      width: 549px;
      height: 15px;
      letter-spacing: -0.02em;

      color: #000000;
      & ::placeholder {
        color: #414141;
      }
    }
  }
  &__data {
    justify-content: center;
    display: flex;
    gap: 38px 40px;
    flex-wrap: wrap;
  }
  &__element {
    width: 302px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & img {
      width: 318px;
      height: auto;
      background-color: #fafafa;
      border: 6px solid #fafafa;
      border-radius: 28px;
    }
    & h3 {
      width: 100%;
      margin-top: 20px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;

      /* Dark Gray */

      color: #232321;
    }
    & button {
      transition: all 0.1s;
      cursor: pointer;
      margin-top: 16px;
      width: 100%;
      padding: 15.5px 0;

      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */

      letter-spacing: 0.25px;
      text-transform: uppercase;

      /* Pure/White */
      border-radius: 8px;
      color: #ffffff;
      background-color: #232321;
      border: none;

      &:active {
        background-color: #ffa52f;
      }
    }
    & span {
      position: absolute;
      margin-left: -256px;
      margin-top: 6px;
      background: #ffa52f;
      border-radius: 24px 0px;
      width: 58px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__card {
    cursor: pointer;
    background-color: #ffa52f;
    top: 87vh;
    left: 92vw;
    position: fixed;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
  }
  &__window {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
      padding: 24px 24px 38px 34px;
      width: 546px;
      background-color: #fafafa;
      min-height: 200px;
      border-radius: 16px;
    }
    &-head {
      display: flex;
      flex-direction: column;
      align-items: center;
      & h1 {
        width: 546px;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height */

        /* Dark Gray */

        color: #232321;
      }
      & p {
        width: 546px;
        margin-top: 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */

        /* Dark Gray */
      }
    }
    &-elem {
      display: flex;
      width: 546px;
      gap: 24px;
    }
    &-right {
      height: 72px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 16px;
      & h3 {
        width: 325px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;

        /* Dark Gray */

        color: #232321;
      }
      & p {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;

        /* Blue */

        color: #4a69e2;
      }
      & button {
        cursor: pointer;
        background: none;
        border: none;
      }
    }
  }
}
